/*-----------------------------------*\
  #style.css
\*-----------------------------------*/




/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root{

  /**
  * COLORS
  */

  /* background color */
  --bg-white: hsla(0, 0%, 100%, 1);
  --bg-gainsboro: hsla(154, 10%, 86%, 1);
  --bg-wild-blue-yonder: hsla(227, 39%, 75%, 1);
  --bg-orange-crayola: hsla(18, 97%, 62%, 1);
  --bg-roman-silver-alpha-30: hsla(210, 9%, 57%, 0.3);

  /* text color */
  --text-orange-crayola: hsla(18, 97%, 62%, 1);
  --text-blue-crayola: hsla(216, 98%, 52%, 1);
  --text-eerie-black: hsla(210, 11%, 15%, 1);
  --text-eerie-black-2: hsla(0, 0%, 7%, 1);
  --text-black: hsla(270, 100%, 0%, 1);

  /*  border color */
  --border-eerie-black: hsla(0, 0%, 7%, 1);

  /**
  * TYPOGRAPHY
  */

  /* font family */
  --fontFamily-inter: 'Inter', sans-serif;
  --fontFamily-clashDisplay: 'ClashDisplay', cursive;

  /* font size */
  --fontSize-1: 6.2rem;
  --fontSize-2: 4.4rem;
  --fontSize-3: 3.8rem;
  --fontSize-4: 3.4rem;
  --fontSize-5: 3rem;
  --fontSize-6: 2.5rem;
  --fontSize-7: 2rem;
  --fontSize-8: 1.8rem;
  --fontSize-9: 1.4rem;
  --fontSize-10: 2.4rem;

  /* font weight */
  --weight-semiBold: 600;

}



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/





/*-----------------------------------*\
  #FEATURE
\*-----------------------------------*/





/*-----------------------------------*\
  #OFFER
\*-----------------------------------*/





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/